password = shDiqw561klih1fd

DB_USERNAME = maps_user
DB_HOST = maps_pgsql
DB_DATABASE = maps_db
DB_PASSWORD = shDiqw561klih1fd
DB_PORT = 5432

ADMIN_USERNAME= admin

SERVER_NAME = maps_server
SERVER_PORT = 5006

DB_MANAGER_NAME = maps_adminer
DB_MANAGER_PORT = 8080

#SERVER_API = http://212.193.54.212:5006/api/
SERVER_API = http://localhost:5006/api/

JWT_SECRET=kdsfrFK5ld1sDg7